<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roteirize</title>
    <link rel="stylesheet" vite-href="~/app.css" />
</head>
<body>
    @await Inertia.Html(Model)
    <script type="module" vite-src="~/main.ts"></script>
</body>
</html>