@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roteirize</title>
    @if (Env.IsDevelopment())
    {
        <script type="module" src="http://localhost:5173/@@vite/client"></script>
        <link rel="stylesheet" href="http://localhost:5173/app.css" />
    }
    else
    {
        <link rel="stylesheet" vite-href="~/app.css" />
    }
</head>
<body>
    @await Inertia.Html(Model)
    @if (Env.IsDevelopment())
    {
        <script type="module" src="http://localhost:5173/main.ts"></script>
    }
    else
    {
        <script type="module" vite-src="~/main.ts"></script>
    }
</body>
</html>
